@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
